{% comment %}
    This include creates a modal pop up with data export options.
    The logic of which formats appear is based on config-nav stubs:
    if subject.html, map.html, location.html, or timeline.html are present, 
    corresponding data formats will be available for download.
{%- endcomment -%}

{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
<button type="button" class="btn btn-info btn-lg float-md-right" data-toggle="modal" data-target="#dataModal">Download Data</button>
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModalLabel">Koleksiyon Verisi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Download this collection's data in a variety of reusable formats.</p>
                
                {% if site.data.theme.metadata-export-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Complete Metadata</h5>
                        <p class="card-text">Tüm koleksiyon öğeleri için tüm meta veri alanları, bir CSV dosyası (Excel, Google E-Tablolar ve benzer programlarda) veya JSON dosyası olarak kullanılabilir (often used with web applications).</p>
                        <a href="{{ '/assets/data/metadata.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank">Meta veri CSV</a>
                        <a href="{{ '/assets/data/metadata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Meta veri JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if site.data.theme.metadata-facets-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Metadata Facets</h5>
                        <p class="card-text">List of unique values and their count for specific metadata fields, useful for understanding content of the fields.</p>
                        <a href="{{ '/assets/data/facets.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Facets JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "subject" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Subject Metadata</h5>
                        <p class="card-text">Unique values and counts of subject metadata, useful for further analyzing the content of this collection.</p>
                        <a href="{{ '/assets/data/subjects.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank">Temalar CSV</a>
                        <a href="{{ '/assets/data/subjects.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">TemalarJSON</a>
                    </div>
                </div>
                {% endif %}
                {% if stubs contains "location" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Locations</h5>
                        <p class="card-text">Benzersiz değerler ve konum meta verilerinin sayıları, bu koleksiyonun yer adlarının daha fazla görselleştirilmesi ve analizi için yararlıdır.</p>
                        <a href="{{ '/assets/data/locations.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank">Konumlar CSV</a>
                        <a href="{{ '/assets/data/locations.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Konumlar JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "map" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">GeoJSON</h5>
                        <p class="card-text">Coğrafi koordinatlara sahip tüm koleksiyon öğeleri için meta veriler <a href="https://en.wikipedia.org/wiki/GeoJSON" target="_blank" rel="noopener">GeoJSON</a> format, useful for further exploration and analysis of this collection through a geographical lense.</p>
                        <a href="{{ '/assets/data/geodata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">Geodata JSON</a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "timeline" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Zaman Çizelgesi</h5>
                        <p class="card-text">Zaman odaklı bir JSON veri formatı dışa aktarımı, <a href="https://timeline.knightlab.com/" target="_blank" rel="noopener">TimelineJS</a>.</p>
                        <a href="{{ '/assets/data/timelinejs.json' | relative_url }}" class="btn btn-outline-dark" target="_blank">TimelineJS JSON</a>
                    </div>
                </div>
                {%- endif -%}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Websitesi Kaynak Kodu</h5>
                        <p class="card-text">Bu proje için kaynak kodunu içeren GitHub dosyaları <a href="https://github.com/CollectionBuilder/collectionbuilder-gh" target="_blank" rel="noopener">CollectionBuilder-GH</a>.</p>
                        <a href="{{ site.source-code | default: 'https://github.com/CollectionBuilder/collectionbuilder-gh' }}" class="btn btn-outline-dark" target="_blank">Kaynak Kodu</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
